.App {
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.large-bold-yellow {
  font-size: 96px;
  font-weight: bold;
  color: navajowhite;
}

body {
  background: url("../media/GettyImages-1140988225.webp") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Auto-suggestion {
  color: #282c34;
}

.clickable-card {
  cursor: pointer;
}

.title-and-back-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust as needed */
  }

  .back-button {
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: gold;
}

.movie-info-section {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-bottom: 30px; /* Space between movie info and additional info */
}

.movie-poster {
    max-width: 30%; /* Adjust as needed */
    height: auto;
}

.movie-text-content {
    max-width: 70%; /* Adjust as needed */
}

.movie-title {
    margin-top: 0;
    margin-bottom: 10px; /* Spacing between title and description */
}

.additional-info-section {
    margin-top: 20px;
}
  

.clickable-card:hover {
  background-color: grey; /* Change background color on hover to indicate interactivity */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
