.App {
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.large-bold-yellow {
  font-size: 96px;
  font-weight: bold;
  color: navajowhite;
}

body {
  background: url("../media/GettyImages-1140988225.webp") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Auto-suggestion {
  color: #282c34;
}

.clickable-card {
  cursor: pointer;
}

.clickable-card:hover {
  background-color: grey; /* Change background color on hover to indicate interactivity */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
